*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/background/wave-haikei.svg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #fff;
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .form{
    padding: 25px;
}

.container .form .login{
    position: relative;
    font-size: 35px;
    font-weight: 400;
}

.container .form .login::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #01497c;
    border-radius: 15px;
}

form .row{
    background-color: bisque;
    position: relative;
    margin: 25px;
    height: 50px;
    margin-top: 30px;
}

 .row input{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    font-size: 25px;
    transition: all 0.5s ease ;

}

.row input:is(:focus, :valid){
    border-bottom-color: #01497c;
}

 .row i{
    position: absolute;
    top: 50%;
    font-size: 25px;
    transform: translateY(-50%);
    color:#999;
}

.row input:is(:focus, :valid) ~ i{
    color: #01497c;
}

 .row i.icon{
    left: 0;
}

.row i.pass{
    right: 0;
}